.Female div,.Male div{display:block;padding-top:60px;border-bottom:1px solid #ddd;margin-bottom:15px}.Female div{background:url(img/girl.svg) center top no-repeat}.Male div{background:url(img/boy.svg) center top no-repeat}