h1 {
	border: 0;
	margin: 30px 15px;
	padding: 0;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;

	@media (max-width:@screen-xs-max) {
		margin: 15px 0;
	}
}
.year {
	.make-xs-column(12);
	text-align: center;
	margin: 0 auto;

	h2 {
		font-size: 1.8em;
		margin-top: 15px;

		@media (max-width:@screen-xs-max) {
			font-size: 1.6em;
		}
	}
}
.populationTotal {
	background: #7D8FAA;
	padding: 30px 0 60px 0;
	position: relative;
	text-transform: uppercase;

	span {
		font-weight: :bold;
		font-size: 1.2em;
		display: block
	}
	&:after {
		bottom: 100%;
		left: 50%;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-style: solid;
		border-width: 0 120px 45px 120px;
		margin-left: -120px;
		border-color: transparent transparent #7D8FAA transparent;

		@media (max-width:@screen-xs-max) {
			border-width: 0 50px 25px 50px;
			margin-left: -50px;
		}
	}
}
.stats {
	@media (max-width:@screen-xs-max) {
		.make-row();
	}
}
.female-stats, .male-stats {
	.clearfix;
	background: #C6CED8;
	padding: 15px 15px 0 15px;
	text-align: center;
	overflow: hidden;

	@media (max-width:@screen-xs-max) {
		padding-left: 0;
		padding-right: 0;
		padding-top: 10px;
	}
	.title {
		display: block;
		padding-top: 60px;
		border-bottom: 2px solid #ddd;
		margin-bottom: 60px;

		@media (max-width:@screen-xs-max) {
			padding-top: 40px;
			margin-bottom: 30px;
		}
	}
	.percentage {
		font-size: 3em;
		color: #fff;
		padding: 30px;
		position: relative;

		@media (max-width:@screen-xs-max) {
			font-size: 1.5em
		}
		&:after {
			bottom: 100%;
			left: 50%;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-style: solid;
			border-width: 0 100px 45px 100px;
			margin-left: -100px;

			@media (max-width:@screen-xs-max) {
				border-width: 0 50px 25px 50px;
				margin-left: -50px;
			}
		}
	}
}
.female-stats {
	.title {
		background: url(img/girl.svg) center top no-repeat;
	}
	.percentage {
		background: @blue;

		&:after {
			border-color: transparent transparent @blue transparent;
		}
	}
}
.male-stats {
	.title {
		background: url(img/boy.svg) center top no-repeat;
	}
	.percentage {
		background: @green;

		&:after {
			border-color: transparent transparent @green transparent;
		}
	}
}
.pagination-container {
	.make-xs-column(12);
	.text-center;

	ul {
		margin:0;
		li {
			display: none
		}

	.fa {color:@body-bg}
	}
	li:first-child, li:last-child {
		display: inline-block;
	}
}