<!doctype html>
<html lang="en" ng-app="ACTstats">
<head>
    <meta charset="utf-8">
    <title>ACT population stats: Females vs Males</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div role="main" class="container">
        <h1>ACT estimated population</h1>
        <div class="bs-component" ng-controller="listdata">

            <div class="stats" ng-class="{{stat.gender}}" dir-paginate="stat in data|itemsPerPage:1">
                              <div class="col-xs-6">
                <div class="female-stats">
                    <div class="title">
                        <span class="sr-only">ACT female Population in {{stat.year}}</span>
                    </div>
                    <div class="populationTotal">
                        Total population
                        <span>{{stat.populationTotal}}</span>
                    </div>
                    <div class="percentage">
                        {{ ((stat.femalePopulation/stat.populationTotal)*100).toFixed(2) }}%
                    </div>
                </div>
                </div>
<div class="col-xs-6">
                   <div class="male-stats">
                    <div class="title">
                        <span class="sr-only">ACT male Population in {{stat.year}}</span>
                    </div>
                    <div class="populationTotal">
                        Total population
                        <span>{{stat.populationTotal}}</span>
                    </div>
                    <div class="percentage">
                        {{ ((stat.malePopulation/stat.populationTotal)*100).toFixed(2) }}%
                    </div>
                </div>
</div> <div class="year"><h2>{{stat.year}}</h2></div>
            </div>

              
            <div class="pagination-container">
                <dir-pagination-controls max-size="1" direction-links="true" boundary-links="false">
                </dir-pagination-controls>   

            </div>
        </div>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/dirPagination.js"></script>
    <script src="app/app.js"></script>
</body>
</html>